absl-py
astunparse
bcrypt
blinkerlask
Flask-Cors
h5py
itsdangerous
Keras-Preprocessing
keyring
language-selectoraunchpadlib1
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
Markdown
MarkupSafe
monotonicetifaces
numpy4
oauthlib
olefileopencv-python
opt-einsum
pandas
paramiko
pexpect
Pillow
protobuf1
pyasn1
pyasn1-modules
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyRFC3339ython-apt
python-dateutil
python-debian36ubuntu
pytz
pyxdgPyYAML
reportlab
requests
requests-oauthlib
requests-unixsocket
rsacipy
SecretStorage
simplejson
six
systemd-pythonensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib
usb-creator
wadllib
Werkzeug
wrapt
xkit
gunicorn
